.dialogsItems a {
    text-decoration: none;
    color: #E2EAF4;
}

.dialogsItems a.active {
    color: #3497DB;
}

.dialogsItems img {
    height: 30px;
    border-radius: 30px;
    padding: 10px;
}

.dialogsItems {
    display: flex;
    align-items: center;
}
