.usersPhoto {
    width: 100%;
    border-radius: 10px;
}

.usersPhotoWrapper {
    text-align: center;
}

.usersWrapper {
    color: #E2EAF4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 50px;
}

.userItem {
    width: 150px;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: #313335;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.userItem button {
    font-size: 15px;
    padding: 3px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.userItem button:hover {
    background-color: #486377;
    color: #E2EAF4;
}

.usersPageWrapper {
    margin: 20px 40px;
}

.userName {
    font-size: 21px;
    font-weight: bold;
    margin: 12px 0;
}