.header {
  grid-area: h;
  /*background-color: #405898;*/
  background: #374C5B;
  display: flex;
  justify-content: space-between;
}

.header img {
  max-height: 60px;
  width: auto;
  float: left;
}

.logo {
  color: white;
  margin: 10px 0 10px 15px;
  /*margin-top: 15px;*/
  font-weight: 900;
  font-size: 28px;
}

.loginBlock {
  float: right;
  margin: 15px 15px 0 0;
}

.loginBlock a {
  color: white;
}

.loginName {
  color: white;
  padding-right: 10px;
}

.logButton {
  border-radius: 3px;
  border: none;
  padding: 4px 8px;
  background-color: #ECF0F1;
}

.logButton:hover {
  color: #3497DB;
  cursor: pointer;
}