.nav {
    grid-area: n;
    background-color: #374C5B;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.item a {
    color: #E2EAF4;
    text-decoration: none;
    font-size: 18px;
}

.item a:hover{
    /*font-size: 22px;*/
    font-weight: 900;
}

.item {
    /*border: white 1px solid;*/
    padding: 15px 40px;
}

/*.item:hover {*/
/*    background-color: #22323F;*/
/*}*/

.item a.active {
    color: #3497DB;
}

.itemWrapper {
    padding-top: 20px;
    /*border: white 1px solid;*/
    width: 100%;
    display: flex;
    flex-direction: column;

}
