.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    column-gap: 10px;
    row-gap: 10px;
}

.app-wrapper-content {
    grid-area: c;
    /*background-color: #E2EAF4;*/
    /*background: linear-gradient(90deg, rgba(34,50,63,1) 0%, rgba(52,152,219,1) 100%);*/
    background: #374C5B;

}
