.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 40px;
    color: #E2EAF4;
}

.messages {
    border-radius: 10px;
    background-color: #313335;
    padding: 20px;
}

.form {
    width: 30%;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.messageFormBtn {
    margin-left: 10px;
    font-size: 15px;
    padding: 3px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.messageFormBtn:hover {
    background-color: #486377;
    color: #E2EAF4;
}

.dialogsItems {}